@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Workbench&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #ffffff;
}

button {
  background-color: #304dff;
  color: #ffffff;
}

button:hover {
  background-color: #5a71ff;
  color: #ffffff;
}

.form {
  background-color: #ffffff;
  border-radius: 2%;
}

input {
  outline: none;
}

input:focus {
  border: 1px solid #304dff;
}
